.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: fadeIn 0.25s ease-in-out; */
}

.modal-box {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
  /* animation: popup 0.26s ease; */
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 8px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.btn-danger {
  background: #a14b5e;
  color: white;
}

.btn-secondary {
  background: #f1e1e5;
  color: #333;
}

.btn:hover {
  transform: scale(1.05);
}

/* Animations */
@keyframes popup {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
