body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

html, body {
  min-width: 0 !important;
}

#zmmtg-root {
  display: none;
  min-width: 0 !important;
}
iframe#webpack-dev-server-client-overlay{display:none!important}
.video-avatar__avatar-footer {
  display: none;
}

main {
  width: 70%;
  margin: auto;
  text-align: center;
}

main button {
  margin-top: 20px;
  background-color: #2D8CFF;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

main button:hover {
  background-color: #2681F2;
}

.video-avatar__avatar-footer span {
  display: none;
}

/* Footer Middle Button Hide */
.footer__btns-container {
  display: none !important;
}

a.dropdown-item[aria-selected="false"][role="button"][href="#"]:contains("Audio Settings") {
  display:none;
}

/* Hide Share Video  */
  /* .video-option-menu, .footer-button-base__button.send-video-container__btn{
  display: none !important;
}   */



.footer__inner {
  justify-content: center !important;
  gap:50px;
}
.meeting-info-container__wrapper{
  display: none !important;
}
.video-avatar__avatar{
  border:2px solid yellow;
}
.full-screen-widget__button svg {
    width: 39px;
    height: 22px;
    position: relative;
    left: 7px;
    top:2px;
}
.full-screen-widget__toggle-text {
  font-size:27px;
}
#fullscreen-pip-btn {
  display:none;
}

.full-screen-icon{
  background:none !important;
}

/* .footer-button-base__img-layer svg {
  width: 39px;
    height: 55px;
    margin-bottom: 20px;
} */
 /* .footer-button-base__img-layer{
  height:unset !important;
 }
.footer-button-base__button-label {
  font-size:21px !important;
}

.footer-button-base__button-label{
  overflow:unset !important;
}
.footer-button-base__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
}
.footer{
  background-color:#201f1f !important;
  padding:8px;
  height:max-content !important;
}
.footer-button-base__img-layer{
  margin-bottom: unset !important;
} */

.dropdown-menu.dark-dropdown .dropdown-item {
  font-size: 20px !important;
}
.video-share-layout {
  height: 100% !important;
  top:unset !important;
}

.waiting-room-container .wr-main-content.wr-content-default {
  display: none;
}
.wr-schedule-date {
  display: none;
}
.page-footer {
  display: none;
}
.waiting-room-preview {
  display: none !important;
}
.wr-topic {
  display: none;
}

.footer-button-base__button.send-video-container__btn, #videoOptionMenu{
  display:none !important;
}


/* give margin video to from black patti */
/* When .speaker-bar-container__horizontal-view-wrap exists → style it */
.speaker-bar-container__horizontal-view-wrap {
  margin-top: 45px;
}

/* When it does NOT exist → style the active one */
body:not(:has(.speaker-bar-container__horizontal-view-wrap)) 
  .speaker-active-container__wrap {
  margin-top: 45px;
}

.meeting-header{
  background-color: transparent !important;
}

/* mobile waiting roomm */
.wr-main-content{
  display: none !important;
}

.wr-header-title {
  margin-top:90px;
}
.mobile-waiting-room .wr-exit-btn{
  left: 50% !important;
  transform: translateX(-50%);
  top:175px !important;
}

.wr-exit-btn-icon{
  color:blue;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Full Screen video sidebar movable video hide */
.suspension-window-container, .suspension-video-container--show-next-button {
  display:none !important;
}
/* End */


/* Mobile View css */
@media (max-width: 768px) {
  #full-screen-dropdown{
    display:none !important;
  }
}
/* End Mobile View css */


.third-part-app-info__panel{
  display: none !important;
}
